# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
from create_tables import create_tables, drop_tables

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [4]:
# Drop first:
drop_tables(cur, conn)

# Create tables:
create_tables(cur, conn)

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
song_files = get_files('data/song_data')

In [6]:
filepath = song_files[0]

In [7]:
df = pd.read_json(filepath, lines = True)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD0S291187B9B7BF5,NaN,NaN,Ohio,Rated R,SOMJBYD12A6D4F8557,Keepin It Real (Skit),114.78159,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = df[['song_id','title','artist_id','year', 'duration']].values[0]
song_data

array(['SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)',
       'ARD0S291187B9B7BF5', 0, 114.78159], dtype=object)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [10]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_longitude', 'artist_latitude']].values[0]
artist_data

array(['ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan], dtype=object)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [11]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [12]:
log_files = get_files('data/log_data')

In [13]:
filepath = log_files[0]

In [14]:
df = pd.read_json(filepath, lines = True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Hoobastank,Logged In,Cierra,F,0,Finley,241.39710,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Say The Same,200,1541808927796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
1,Mark Knopfler,Logged In,Cierra,F,1,Finley,249.31220,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Why Aye Man,200,1541809168796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
2,Mogwai,Logged In,Cierra,F,2,Finley,341.28934,free,"Richmond, VA",PUT,NextSong,1541013292796,132,We're No Here,200,1541809417796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
3,The Casualties,Logged In,Cierra,F,3,Finley,181.49832,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Punx Unite,200,1541809758796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
4,None,Logged In,Cecilia,F,0,Owens,NaN,free,"Atlanta-Sandy Springs-Roswell, GA",GET,Home,1541032432796,424,None,200,1541813635796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) G...,6

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [15]:
# Get rows where page is NextSong
df = df[df.page == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Hoobastank,Logged In,Cierra,F,0,Finley,241.39710,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Say The Same,200,1541808927796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
1,Mark Knopfler,Logged In,Cierra,F,1,Finley,249.31220,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Why Aye Man,200,1541809168796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
2,Mogwai,Logged In,Cierra,F,2,Finley,341.28934,free,"Richmond, VA",PUT,NextSong,1541013292796,132,We're No Here,200,1541809417796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
3,The Casualties,Logged In,Cierra,F,3,Finley,181.49832,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Punx Unite,200,1541809758796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
5,The Living End,Logged In,Ryan,M,0,Smith,188.62975,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1541016707796,433,Roll On (Album Version),200,1541822502796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26

In [16]:
time_df = pd.DataFrame(df['ts'])

# Convert ts to datetime:
time_df['start_time'] = pd.to_datetime(df['ts'], unit='ms')

time_df['hour'], time_df['day'],time_df['week'],time_df['month'],time_df['year'],time_df['week_day'] = time_df.start_time.dt.hour,\
                                                                                                       time_df.start_time.dt.day,\
                                                                                                       time_df.start_time.dt.strftime('%V').astype(int),\
                                                                                                       time_df.start_time.dt.month,\
                                                                                                       time_df.start_time.dt.year,\
                                                                                                       time_df.start_time.dt.weekday






time_df.head()

,ts,start_time,hour,day,week,month,year,week_day
0,1541808927796,2018-11-10 00:15:27.796,0,10,45,11,2018,5
1,1541809168796,2018-11-10 00:19:28.796,0,10,45,11,2018,5
2,1541809417796,2018-11-10 00:23:37.796,0,10,45,11,2018,5
3,1541809758796,2018-11-10 00:29:18.796,0,10,45,11,2018,5
5,1541822502796,2018-11-10 04:01:42.796,4,10,45,11,2018,5

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [17]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [18]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Hoobastank,Logged In,Cierra,F,0,Finley,241.39710,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Say The Same,200,1541808927796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
1,Mark Knopfler,Logged In,Cierra,F,1,Finley,249.31220,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Why Aye Man,200,1541809168796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
2,Mogwai,Logged In,Cierra,F,2,Finley,341.28934,free,"Richmond, VA",PUT,NextSong,1541013292796,132,We're No Here,200,1541809417796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
3,The Casualties,Logged In,Cierra,F,3,Finley,181.49832,free,"Richmond, VA",PUT,NextSong,1541013292796,132,Punx Unite,200,1541809758796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",96
5,The Living End,Logged In,Ryan,M,0,Smith,188.62975,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1541016707796,433,Roll On (Album Version),200,1541822502796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26

In [19]:
user_df = df[['userId','firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [21]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    print(f'results: {results}')
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (index,
                     pd.to_datetime(row.ts, unit='ms'),
                     int(row.userId),
                     row.level,
                     songid,
                     artistid,
                     row.sessionId,
                     row.location,
                     row.userAgent,)
    print(songplay_data)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

results: None
(0, Timestamp('2018-11-10 00:15:27.796000'), 96, 'free', None, None, 132, 'Richmond, VA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(1, Timestamp('2018-11-10 00:19:28.796000'), 96, 'free', None, None, 132, 'Richmond, VA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(2, Timestamp('2018-11-10 00:23:37.796000'), 96, 'free', None, None, 132, 'Richmond, VA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(3, Timestamp('2018-11-10 00:29:18.796000'), 96, 'free', None, None, 132, 'Richmond, VA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(5, Timestamp('2018-11-10 04:01:42.796000'), 26, 'free', None, None, 433, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
results: None
(6, Timestamp('2018-11-10 06:01:49.796000'), 16, 'free', None, None, 402, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(7, Timestamp('2018-11-10 06:05:53.796000'), 16, 'free', None, None, 402, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(8, Timestamp('2018-11-10 07:34:18.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(9, Timestamp('2018-11-10 07:40:11.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(10, Timestamp('2018-11-10 07:43:34.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(11, Timestamp('2018-11-10 07:47:51.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(12, Timestamp('2018-11-10 07:52:24.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(13, Timestamp('2018-11-10 07:56:47.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(14, Timestamp('2018-11-10 08:00:27.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(15, Timestamp('2018-11-10 08:03:26.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(16, Timestamp('2018-11-10 08:06:59.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(17, Timestamp('2018-11-10 08:09:20.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(18, Timestamp('2018-11-10 08:12:43.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(19, Timestamp('2018-11-10 08:15:31.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(20, Timestamp('2018-11-10 08:19:21.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(21, Timestamp('2018-11-10 08:20:13.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(22, Timestamp('2018-11-10 08:24:10.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(23, Timestamp('2018-11-10 08:26:32.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(24, Timestamp('2018-11-10 08:29:17.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(25, Timestamp('2018-11-10 08:32:15.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(26, Timestamp('2018-11-10 08:36:07.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(27, Timestamp('2018-11-10 08:40:36.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(28, Timestamp('2018-11-10 08:44:19.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(29, Timestamp('2018-11-10 08:48:15.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(30, Timestamp('2018-11-10 08:52:48.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(31, Timestamp('2018-11-10 08:56:11.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(32, Timestamp('2018-11-10 09:00:22.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(33, Timestamp('2018-11-10 09:05:58.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(34, Timestamp('2018-11-10 09:09:42.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(36, Timestamp('2018-11-10 09:13:21.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(37, Timestamp('2018-11-10 09:17:29.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(38, Timestamp('2018-11-10 09:21:00.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(39, Timestamp('2018-11-10 09:25:10.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(40, Timestamp('2018-11-10 09:29:42.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(41, Timestamp('2018-11-10 09:33:09.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(42, Timestamp('2018-11-10 09:37:46.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(43, Timestamp('2018-11-10 09:40:07.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(44, Timestamp('2018-11-10 09:43:31.796000'), 44, 'paid', None, None, 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(45, Timestamp('2018-11-10 09:59:34.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(46, Timestamp('2018-11-10 10:00:01.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(47, Timestamp('2018-11-10 10:04:26.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(48, Timestamp('2018-11-10 10:10:53.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(49, Timestamp('2018-11-10 10:19:19.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(50, Timestamp('2018-11-10 10:22:23.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(51, Timestamp('2018-11-10 10:25:05.796000'), 37, 'free', None, None, 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')
results: None
(52, Timestamp('2018-11-10 12:39:59.796000'), 66, 'free', None, None, 387, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')
results: None
(53, Timestamp('2018-11-10 12:44:10.796000'), 66, 'free', None, None, 387, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')
results: None
(55, Timestamp('2018-11-10 14:33:38.796000'), 26, 'free', None, None, 445, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
results: None
(56, Timestamp('2018-11-10 14:47:00.796000'), 6, 'free', None, None, 444, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0')
results: None
(57, Timestamp('2018-11-10 14:50:41.796000'), 6, 'free', None, None, 444, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0')
results: None
(58, Timestamp('2018-11-10 15:15:59.796000'), 61, 'free', None, None, 384, 'Houston-The Woodlands-Sugar Land, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')
results: None
(59, Timestamp('2018-11-10 16:27:27.796000'), 69, 'free', None, None, 378, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')
results: None
(61, Timestamp('2018-11-10 17:31:56.796000'), 74, 'free', None, None, 246, 'Youngstown-Warren-Boardman, OH-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(63, Timestamp('2018-11-10 17:44:29.796000'), 7, 'free', None, None, 391, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(64, Timestamp('2018-11-10 17:47:53.796000'), 7, 'free', None, None, 391, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(65, Timestamp('2018-11-10 17:50:52.796000'), 7, 'free', None, None, 391, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(66, Timestamp('2018-11-10 18:15:27.796000'), 18, 'free', None, None, 432, 'San Diego-Carlsbad, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_2) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"')
results: None
(67, Timestamp('2018-11-10 19:08:52.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(68, Timestamp('2018-11-10 19:10:48.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(69, Timestamp('2018-11-10 19:14:26.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(70, Timestamp('2018-11-10 19:30:33.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(71, Timestamp('2018-11-10 19:35:14.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(72, Timestamp('2018-11-10 19:39:08.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(73, Timestamp('2018-11-10 19:43:48.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(75, Timestamp('2018-11-10 19:47:29.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(76, Timestamp('2018-11-10 19:47:50.796000'), 52, 'free', None, None, 447, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(77, Timestamp('2018-11-10 19:51:32.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(78, Timestamp('2018-11-10 19:55:47.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(79, Timestamp('2018-11-10 19:58:39.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(80, Timestamp('2018-11-10 20:02:59.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(81, Timestamp('2018-11-10 20:06:17.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(82, Timestamp('2018-11-10 20:10:16.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(83, Timestamp('2018-11-10 20:13:25.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(84, Timestamp('2018-11-10 20:18:19.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(85, Timestamp('2018-11-10 20:22:56.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(86, Timestamp('2018-11-10 20:27:25.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(87, Timestamp('2018-11-10 20:32:13.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(88, Timestamp('2018-11-10 20:36:50.796000'), 36, 'paid', None, None, 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')
results: None
(91, Timestamp('2018-11-10 21:16:58.796000'), 14, 'free', None, None, 440, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')
results: None
(92, Timestamp('2018-11-10 21:39:12.796000'), 8, 'free', None, None, 333, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
results: None
(93, Timestamp('2018-11-10 21:41:50.796000'), 8, 'free', None, None, 333, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
results: None
(95, Timestamp('2018-11-10 21:52:30.796000'), 35, 'free', None, None, 396, 'St. Louis, MO-IL', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.